<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Practice</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1>HI!</h1>

    <div ng-app="myApp" ng-controller="myCtrl">
        <p>First Name: <input type="text" ng-model="firstName" /></p>
        <p>Last Name: <input type="text" ng-model="lastName" /></p>
        
        <p>{{firstName + lastName}}</p>
        
    </div>
    
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope){
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });

    </script>
</body>
</html>

<!--Modules define Angular S applications--->
<!--Controllers control AngularJS applications --->
<!--ng-app directives defines the application--->
<!--ng-controller directive defines the controller--->